.about-section {
  margin: 20px;
}

.container {
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
}

.image-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.text-section {
  width: 50%;
}

.fade-item {
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out; /* Smooth transition */
}

.fade-item.fade-in {
  opacity: 1; /* Show when in view */
}

.architect-image {
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 8px;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-icon {
  margin-right: 10px;
  color: #333;
  font-size: 1.5em;
}

.text-section h2, .text-section h3 {
  margin-top: 20px;
}

.text-section p {
  width: 50%;
  margin: 10px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .image-section {
    margin-bottom: 20px;
  }
}


.fade-item {
  opacity: 0; /* Start fully transparent */
  transform: translateX(30px); /* Start 20px from the right */
  transition: opacity 1s ease, transform 1s ease; /* Transition for fade and slide */
}

.fade-in {
  opacity: 1; /* Fully opaque */
  transform: translateX(0); /* Move to original position */
}
